Below are the import statements that various files in this project
currently use (as they appear in the Python script files) that import
packages that will likely not be installed by default:

import ttk
from Tkinter import *
